<a href="https://colab.research.google.com/github/EddyGiusepe/Time_Series_ONE/blob/main/Time_Series_Analysis_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <h2 align='center'>Time Series com Python</h2> 


**Cientista de Dados Jr.:**  Dr.Eddy Giusepe Chirinos Isidro


Scrip baseado no seguinte vídeo:

* [Time Series Analysis in Python](https://www.youtube.com/watch?v=m2Oft2nllw4).

# Importando as nossas bibliotecas

In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_process import ArmaProcess
from statsmodels.tsa.stattools import acf
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima_process import ArmaProcess
from statsmodels.graphics.tsaplots import plot_pacf
from math import sqrt

## <font color="orange">Autocorrelação</font>

In [4]:
msft = pd.read_csv("/content/drive/MyDrive/4_teoria_IA_ML_DL_Eddy/Time_Series_Analysis_in_Python/MSFT.csv",
                   index_col="Date", parse_dates=["Date"])

In [6]:
msft.sample(10)

            Adj Close
Date
2014-04-10  36.144199
2012-11-29  23.842480
2016-01-25  49.817524
2016-01-28  50.077248
2013-10-03  30.629837
2016-11-23  59.693871
2012-08-09  26.587088
2016-01-12  50.769821
2015-04-06  39.185196
2013-10-22  31.281153

In [7]:
# converter os dados diários em dados semanais.

msft = msft.resample("W").last()

In [10]:
# Calculamos a variação percentual dos preços

msft_pct = msft.pct_change().dropna()

In [11]:
# Calculamos e imprimimos a autocorrelação de retornos

auto_msft = msft_pct["Adj Close"].autocorr()

In [12]:
print("Autocorrelação de retornos =", auto_msft.round(2))

Autocorrelação de retornos = -0.16